.container {
  max-width: 40%;
  margin: 0 auto;
  padding: 60px;
  border-radius: 10px;
  font-family: "Tilt Prism", cursive;
  background-image: url("https://images.pexels.com/photos/2138922/pexels-photo-2138922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  color: #000000;
  border: 1px solid #f1edfa;
  background: #dbbfdb;
  border-radius: 5px;
}

footer {
  text-align: center;
}
li {
  list-style: none;
}
#clear {
  text-transform: capitalize;
  margin-top: 40px;
}
.weather-forecast {
  text-align: center;
  margin-top: 40px;
}
.temp-field,
#celsius,
#fahrenheit {
  color: white;
}
